# MDK-ARM 编译产物
MDK-ARM/*.uvguix.*
MDK-ARM/DebugConfig/
MDK-ARM/RTE/
MDK-ARM/MPU6050H7/*.o
MDK-ARM/MPU6050H7/*.d
MDK-ARM/MPU6050H7/*.axf
MDK-ARM/MPU6050H7/*.hex
MDK-ARM/MPU6050H7/*.htm
MDK-ARM/MPU6050H7/*.map
MDK-ARM/MPU6050H7/*.lnp
MDK-ARM/MPU6050H7/*.dep
MDK-ARM/MPU6050H7/*.build_log.htm
MDK-ARM/MPU6050H7/*.crf
MDK-ARM/MPU6050H7/*.dmp
MDK-ARM/MPU6050H7/*.lib
MDK-ARM/MPU6050H7/*.elf
MDK-ARM/MPU6050H7/*.bin
Drivers/
MDK-ARM/
docs/